/* .coursesSrchBtn input {
  background-image: url("/assets/images/courses/carbon_search.svg");
  background-size: 40px;
  background-color: black;
  background-repeat: no-repeat;
  outline: none;
  border: 1px solid white;
  max-height: 60px;
  height: 60px;
  background-position: calc(100% - 15px);
}
.crses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap: 60px;
}

@media only screen and (min-width: 768px) {
  .crses {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px;
  }
}
@media only screen and (min-width: 1620px) {
  .crses {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 32px;
  }
} */

.coursesSrchBtn input {
    background-image: url("/assets/images/courses/carbon_search.svg");
    background-size: 14px;
    background-color: black;
    background-repeat: no-repeat;
    outline: none;
    border: 1px solid white;
    /* max-height: 50px; */
    height: 26px;
    width: 172px;
    padding: 4px 11px;
    background-position: calc(100% - 15px);
}
.crses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 60px;
}

@media only screen and (min-width: 768px) {
    .crses {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 10px;
    }
    .coursesSrchBtn input {
        height: 60px;
        background-size: 40px;
        padding: 10px 15px;
        width: 380px;
    }
}
@media only screen and (min-width: 1620px) {
    .crses {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 32px;
    }
}
